<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %> 
    <title>Працівники</title>
    <style>
        .inline-link:link {
            text-decoration: none;
            color: black;
        }

        .inline-link:visited {
            text-decoration: none;
            color: black;
        }

        .inline-link:hover {
            text-decoration: none;
            color: black;
        }

        .inline-link:active {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Прізвище</th>
                    <th scope="col">Ім'я</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <% if (user.status == 2) { %>
                        <tr>
                    <% } else { %>
                        <tr class="table-warning">
                    <% } %> 
                        <td><%= user.last_name %></td>
                        <td><%= user.first_name %></td>
                        <td><%= (user.status == 2) ? 'Працівник' : 'Зареєстрований' %></td>
                        <td>
                            <% if (user.status == 2) { %>
                                <form style="display: inline;" action="/admin/hold?id=<%= user.id %>" method="POST">
                                    <button type="submit" class="btn btn-outline-secondary">🛑</button>
                                </form>
                            <% } else { %>
                                <form style="display: inline;" action="/admin/approve?id=<%= user.id %>" method="POST">
                                    <button type="submit" class="btn btn-outline-secondary">✔️</button>
                                </form>
                            <% } %> 
                            <form style="display: inline;" action="/admin/delete?id=<%= user.id %>" method="POST">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#Modal<%= user.id %>">🗑️</button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="Modal<%= user.id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Увага!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Підтвердження призведе до видалення облікового запису працівника <span class="badge bg-secondary"><%= user.last_name + ' ' + user.first_name %></span> 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Скасувати</button>
                                            <button type="submit" class="btn btn-danger">Видалити</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>

                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>