<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %> 
    <title>Результат пошуку</title>
    <style>
        .inline-link:link {
            text-decoration: none;
            color: black;
        }

        .inline-link:visited {
            text-decoration: none;
            color: black;
        }

        .inline-link:hover {
            text-decoration: none;
            color: black;
        }

        .inline-link:active {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body style="margin: 1em;">
    <a href="search" class="btn btn-secondary" style="width: 100%;">
        До вікна пошуку
    </a>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Код</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Роздрібна ціна</th>
                </tr>
            </thead>
            <tbody>
                <% searchResults.forEach(row => { %>
                    <% if (row.qty > 0) { %>
                        <tr>
                    <% } else { %>
                        <tr class="table-warning">
                    <% } %> 
                        <th><%= row.code %></th>
                        <td>
                            <a class="inline-link" href="product/<%= row.code %>">
                                <%= row.name %>
                            </a>
                        </td>
                        <td><%= row.retail_price %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>